.form-control{
  width:500px;
}

.form-control input,
.form-control textarea{
  width:100%;
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  padding: 15px 20px;
  border-radius: 2px;
  border: 1px solid black;
  background: #fff;
}


.form-control textarea{
height: 200px;
resize: none;
}

.form-control .btn{
margin-left:0;

}
