.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 150px;
}

.info img{
  max-width: 300px;
}

.info p{
  width: 500px;
  margin: 15px;
}

.info .btn{
  width: 185px;
  background: #000000;
  margin-top: 30px;
}
